[Unit]
Description=Cyclops Wireguard interface
After=network.target network-online.target
Requires=network-online.target
 
[Service]
ExecStart=/usr/bin/cyclops-kernelwg

[Install]
WantedBy=multi-user.target
