[Unit]
Description=Cyclops
After=network.target network-online.target
Requires=network-online.target
 
[Service]
User=cyclops
Group=cyclops
ExecStart=/usr/local/bin/cyclops --config /var/lib/cyclops/config.sqlite
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
