[Unit]
Description=Cyclops
After=network.target network-online.target
Requires=network-online.target
 
[Service]
ExecStart=/usr/local/bin/cyclops --vpn --username cyclops --config /var/lib/cyclops/config.sqlite

[Install]
WantedBy=multi-user.target
