.alarmBG {
	border-color: hsl(5, 80%, 72%);
	background-color: hsl(5, 80%, 79%);
}

.recordBG {
	border-color: hsl(45, 80%, 74%);
	background-color: hsl(45, 80%, 79%);
}

.ignoreBG {
	border-color: hsl(91, 80%, 76%);
	background-color: hsl(91, 80%, 88%);
}
