@import "./base.scss";

#app {
	height: 100%;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.error {
	color: #d00;
}

.panel {
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08), 3px 3px 7px rgba(0, 0, 0, 0.1);
	border: solid 1px var(--color-border-hover);
	padding: 15px 20px;
}
