[Unit]
Description=Caddy
Documentation=https://caddyserver.com/docs/
After=network.target network-online.target
Requires=network-online.target
 
[Service]
Type=notify
User=caddy
Group=caddy
ExecStart=
ExecStart=/usr/bin/caddy reverse-proxy --from proxy-cpt.cyclopcam.org --to localhost:8082
ExecReload=
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
