[Unit]
Description=Cyclops proxy
After=network.target network-online.target
Requires=network-online.target
 
[Service]
EnvironmentFile=/etc/cyclops/proxy.env
ExecStart=/deploy/proxy --username cyclopsproxy

[Install]
WantedBy=multi-user.target
