@import "@/assets/vars.scss";

body {
	//font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-family: -apple-system, system-ui, sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

.flex {
	display: flex;
}
.flexColumn {
	display: flex;
	flex-direction: column;
}
.flexColumnCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flexRowCenter {
	display: flex;
	align-items: center;
}
.flexRowBaseline {
	display: flex;
	align-items: baseline;
}
.flexCenter {
	@include flexCenter();
}

.bold {
	font-weight: bold;
}

.background {
	@include background();
}

.noselect {
	user-select: none;

	// The following line is necessary to get rid of a blue/cyan tint on mobile touches
	-webkit-tap-highlight-color: transparent;
}

////////////////////////////////////////////////////////////////////////////
/// These are used to debug CSS boxes
////////////////////////////////////////////////////////////////////////////

.debug1 {
	background-color: rgb(255, 197, 197);
}
.debug2 {
	background-color: rgb(255, 237, 189);
}
.debug3 {
	background-color: rgb(226, 255, 189);
}

////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
// Buttons
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
$button-h-margin: 3px;

//$button-padding: 6px 9px 4px 9px; // this looks good on ubuntu, but terrible on windows
//$button-padding: 5px 9px 5px 9px; // this is OK on ubuntu and windows (looked OK when I mistakenly used Arial, but too much top padding with Segoe UI semibold)
// $button-padding: 4px 9px 5px 9px; // removing that one top pixel improves Segoe UI
$button-padding: 4px 8px 4px 8px;
$button-padding-mobile: 6px 10px 6px 10px;

@mixin button_background {
	border-radius: 5px;
	border: 1px solid #bbb;
	//@media (min-resolution: 192dpi) {
	//	border-width: 0.5px;
	//}
	background: linear-gradient(180deg, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 96%) 47%, hsl(0, 0%, 93%) 100%);
}

button {
	@include button_background();
	user-select: none;
	cursor: pointer;
	margin: 1px $button-h-margin;
	padding: $button-padding;
	font-size: 15px;
	@media (max-width: $mobileCutoff) {
		// make buttons chunkier for fat fingers
		font-size: 18px;
		padding: $button-padding-mobile;
	}
	color: #111;
	outline: none;
}

@mixin button_enabled_hover {
	border-color: #777;
	background: linear-gradient(180deg, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 96%) 47%, hsl(0, 0%, 93%) 100%);
}
button:enabled:hover {
	@include button_enabled_hover();
}
.button_enabled_hover {
	@include button_enabled_hover();
}

@mixin button_enabled_active {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
button:enabled:active {
	@include button_enabled_active();
}
.button_enabled_active {
	@include button_enabled_active();
}

button:disabled {
	color: #999;
	cursor: not-allowed;
}

$focalHue: 220;
$focalBrightness: 65%;

.focalButton {
	background: linear-gradient(
		180deg,
		hsl($focalHue, 75%, $focalBrightness) 0%,
		hsl($focalHue, 84%, $focalBrightness * 0.8) 47%,
		hsl($focalHue, 89%, $focalBrightness * 0.7) 100%
	);
	border: 1px solid hsl($focalHue, 61%, $focalBrightness * 0.65);
	color: #fff;
}
.focalButton:enabled:hover {
	background: linear-gradient(
		180deg,
		hsl($focalHue, 75%, $focalBrightness * 0.95) 0%,
		hsl($focalHue, 84%, $focalBrightness * 0.75) 47%,
		hsl($focalHue, 89%, $focalBrightness * 0.65) 100%
	);
	border: 1px solid hsl($focalHue, 86%, $focalBrightness * 0.65);
}
.focalButton:disabled {
	background: linear-gradient(180deg, hsl($focalHue, 30%, 70%) 0%, hsl($focalHue, 18%, 65%) 47%, hsl($focalHue, 15%, 55%) 100%);
	border: 1px solid hsl($focalHue, 20%, $focalBrightness * 0.7);
	color: #ddd;
}

.dangerButton {
	color: hsl(0, 71%, 42%);
	border: 1px solid hsl(0, 70%, 40%);
}
.dangerButton:enabled:hover {
	background: linear-gradient(180deg, hsl(0, 70%, 70%) 0%, hsl(0, 70%, 65%) 47%, hsl(0, 70%, 55%) 100%);
	border: 1px solid hsl(0, 77%, 32%);
	color: white;
}
.dangerButton:disabled {
	border: 1px solid hsl(0, 15%, 65%);
	color: hsl(0, 30%, 40%);
}

.pictureButton {
	display: flex;
	align-items: center;
}

.pictureButton img {
	width: 12px;
	margin-right: 6px;
}

// NOTE: buttonBusy must appear after dangerButton and focalButton in our CSS here,
// so that it can override them.

// ERG..... this doesn't play well with focalButton...
// OK.. so the solution here is to use own custom control <buttin> instead of <button>

// See MsgBox for an example of using this. A key thing is that you must also
// set disabled=true on your button, for correct behaviour (and to get the animation
// to show while the cursor is hovered over the button).
// Example:
// <button :disabled='busy' :class='{buttonBusy: busy}'>OK</button>
.buttonBusy {
	background: url("@/icons/loaders/moving-dots.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 9.5px; // tweaky!
}

////////////////////////////////////////////////////////////////////////////
/// Shadows
////////////////////////////////////////////////////////////////////////////

.shadow3 {
	@include shadow3;
}
.shadow5 {
	@include shadow5;
}
.shadow7 {
	@include shadow7;
}
.shadow9 {
	@include shadow9;
}
.shadow15 {
	@include shadow15;
}
.shadowHeavy {
	@include shadowHeavy;
}

.shadow3L {
	@include shadow3L;
}
.shadow5L {
	@include shadow5L;
}
.shadow7L {
	@include shadow7L;
}
.shadow9L {
	@include shadow9L;
}
.shadow15L {
	@include shadow15L;
}

@mixin shadowHoverTransition {
	transition: box-shadow 150ms;
}

.shadow5Hover:hover {
	@include shadowHoverTransition();
	@include shadow5;
}
.shadow7Hover:hover {
	@include shadowHoverTransition();
	@include shadow7;
}
.shadow9Hover:hover {
	@include shadowHoverTransition();
	@include shadow9;
}
.shadow15Hover:hover {
	@include shadowHoverTransition();
	@include shadow15;
}
.shadow5LHover:hover {
	@include shadowHoverTransition();
	@include shadow5L;
}
.shadow7LHover:hover {
	@include shadowHoverTransition();
	@include shadow7L;
}
.shadow9LHover:hover {
	@include shadowHoverTransition();
	@include shadow9L;
}
.shadow15LHover:hover {
	@include shadowHoverTransition();
	@include shadow15;
}

////////////////////////////////////////////////////////////////////////////
/// Overlays
////////////////////////////////////////////////////////////////////////////

.available {
	opacity: 1;
	transition: opacity 0.5s;
}

.unavailable {
	opacity: 0.15;
	transition: opacity 0.5s;
	pointer-events: none;
}

////////////////////////////////////////////////////////////////////////////
/// Transitions
////////////////////////////////////////////////////////////////////////////

// SYNC-SLIDE-TRANSITION
$slideTransition: all 0.18s ease-out;
$slideAmount: 100vw;

.slide-left-enter-from {
	transform: translateX($slideAmount);
	opacity: 0;
}

.slide-left-enter-active {
	transition: $slideTransition;
	position: absolute;
	top: 0;
}

.slide-left-enter-to {
	transform: translateX(0);
	opacity: 1;
}

.slide-left-leave-from {
	transform: translateX(0);
	opacity: 1;
}

.slide-left-leave-active {
	transition: $slideTransition;
}

.slide-left-leave-to {
	transform: translateX(-$slideAmount);
	opacity: 0;
}

///////////////////////////////////////////////////////////////////////////

.slide-right-enter-from {
	transform: translateX(-$slideAmount);
	opacity: 0;
}

.slide-right-enter-active {
	transition: $slideTransition;
	position: absolute;
	top: 0;
}

.slide-right-enter-to {
	transform: translateX(0);
	opacity: 1;
}

.slide-right-leave-from {
	transform: translateX(0);
	opacity: 1;
}

.slide-right-leave-active {
	transition: $slideTransition;
}

.slide-right-leave-to {
	transform: translateX($slideAmount);
	opacity: 0;
}

////////////////////////////////////////////////////////////////////////////
/// Visual elements
////////////////////////////////////////////////////////////////////////////

.smallDialog {
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	@include shadow9;
}

.helpTopic {
	@include shadow15L;
	max-width: 320px;
	font-size: 15px;
	line-height: 1.4;
	background-color: rgb(255, 253, 223);
	padding: 10px 15px;
	border-radius: 5px;
	border: solid 1px rgb(253, 238, 164);
	margin-bottom: 20px;
}

.groupLabel {
	margin: 20px 2px 2px 2px;
}

.stepLabel {
	font-size: 20px;
	font-weight: bold;
	margin: 4px 4px;
	max-width: 300px;
}

.stepHint {
	font-size: 14px;
	margin: 4px 4px;
	max-width: 300px;
}

// placed between two buttons, to avoid accidental clicking of two very different actions
.dangerSpacer {
	width: 15px;
}

.link {
	font-weight: 500;
	color: rgb(9, 9, 182);
	cursor: pointer;
	text-decoration: none;
}

.link:disabled {
	color: #aaa;
}

.link:hover {
	text-decoration: underline;
}

// grr.. unfortunately we can't specify our background color inside .wideRoot.
// If we do, then we're limited in our size. I can't figure out how to make us always
// fill our container, BUT ALSO if our content is larger than our container, then we
// shouldn't be limited by it. So that's why we need OUR CONTAINER to draw the background
// color for us.
// To see the problem in action, look at two configuration screens.
// One with just 2 or 3 rows. You want the $widerootbg to fill the top of the screen.
// Now, try a different configuration screen that needs to be scrolled down to see its
// content. Likewise, the $widerootbg should fill all the content, including the region
// which is "beneath the fold" (i.e. the stuff you need to scroll down for).
$widerootbg: #efefef;

// Top-level object that holds a bunch of 'wide widget' items
// When creating this class, the only reason I needed it was to make
// the left/right transitions work nicely. Specifically, so that
// while a new page was being animated in from the right, it would
// have the same width that it would eventually have, once it landed
// in its resting place. Without this, its layout changes the moment
// the transition ends.
.wideRoot {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	padding: 0px 0px 8px 0px;
}
