// Anything >= 500px is desktop
$mobileCutoff: 500px;

/*
# ====================================================
#                  HOW TO USE
# ====================================================

@import '@/assets/vars.scss';

@media (max-width: $mobileCutoff) {
	// mobile styles
}

*/

$toggleColor: hsl(240, 85%, 62%);
$toggleColorMute: hsl(240, 50%, 45%);
$tint: #f6f6f6;
$tintBold: #f0f0f0;

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin background {
	background-repeat: no-repeat;
	background-position: center;
}

@mixin shadow5 {
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
@mixin shadow7 {
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
}
@mixin shadow9 {
	box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);
}
@mixin shadow15 {
	box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.3);
}
@mixin shadowHeavy {
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.35), 3px 4px 15px rgba(0, 0, 0, 0.45);
}
@mixin shadow5L {
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.12);
}
@mixin shadow7L {
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.12);
}
@mixin shadow9L {
	box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.12);
}
@mixin shadow15L {
	box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.12);
}
