.widewidget {
	width: 100%;
	box-sizing: border-box;
}

.wide-section-element:first-child {
	border-top: solid 1px rgba(0, 0, 0, 0);
}

.wide-section-element {
	border-top: solid 1px #f4f4f4;
}

.wide-callout {
	background: #eee;
	border-radius: 5px;
	padding: 4px 8px;
	font-size: 14px;
}
